<ion-header>
  <ion-toolbar class="recover_toolbar" color="violet">

    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/login" ></ion-back-button>
    </ion-buttons>

    <ion-title> Recuperar Contraseña </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <p class="margin-top_bot-15 center">coloque el correo electronico que uso para registrarse:</p>


  <form (ngSubmit)="enviarCorreo()">
    <div class="recovery-div">

      <ion-item>
        <ion-label position="floating">Direccion de Correo electronico</ion-label>
        <ion-input  [(ngModel)]="correo" name="correo"></ion-input>
      </ion-item>
    
      <ion-button id="enviar-correo-button" expand="block" type="submit"  color="light_violet">Enviar</ion-button>
    
      <p class="nota"> nota: si no coloca el correo con el que se registró no se enviara el correo de recuperación </p>  
   


    </div>
  </form>


  <div class="recovery-footer"></div>
</ion-content>
