@import '../../colores.scss';


.bold{
    font-weight: bold;
}

.inline{
    display: inline;
}


ion-card{
    cursor: pointer;
}


.margin-top-5p{
    margin-top: 5px;
}

.margin-left-auto{
    margin-left: auto;
}




.inline-block{
    display: inline-block;
}


.full-right{
    right: 0;
}


.position-absolute{
    position: absolute;
}




.background-color-light-grey{
    background-color: #dbdbdb;
}


.flex-column{
    display: flex;
    flex-direction: column;

    hr{
        border-top: solid 1px black;
    }
}

.flex-row{
    display: flex;
    flex-direction: row;

    ion-button{
        flex: 0 0 50%;
    }
}


@mixin panel() {
    width: 100%;
    height: auto;
    background-color: #3880ff;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}


.panel-saldo{
    padding: 5px;
    @include panel();
    p{  
        font-weight: bold;
        margin: 0px;
        text-align: center;
    }


}

.panel-saldo-monto{
    color: $verde-dinero;
}



.contenedor-spinner{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: white;
}

ion-list{
    min-height: 100%;
}