<ion-header>
  <ion-toolbar color="light_violet">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MoneyUcab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  
  <div class="panel-saldo">

    <p>  <ion-label >Saldo:</ion-label>  <ion-label>25.000 B.s.</ion-label>   </p>
  
  </div>




  <ion-list class="background-color-light-grey"
  [class.background-color-light-grey]="cargando===false"
  >
    
    <div *ngIf="cargando else operaciones" class="contenedor-spinner">
      <ion-spinner color="light_violet" ></ion-spinner>
    </div>
    
    <ng-template #operaciones>
      <app-operacion-card *ngFor="let transaccion of transacciones" [transaccion]="transaccion"></app-operacion-card>
    </ng-template>

  </ion-list>




  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light_violet" (click)="refrescar()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
