.item__property__title{
    font-weight: bold;
}


.item__property{
    margin-left: auto;
    color: #4b4b4b;
}

.item__property__title__center{
    text-align: center;
}


.item_description{
    text-align: center;
    color: #4b4b4b;
}

.item__property__fecha{
    font-size: small;
}