@import '../../../colores.scss';

.violet-color{
    color: $violeta;
}

.black-color{
    color: black;
}

.background-grey{
    background-color: #cecece;
}


.font-size-large{
    font-size: xx-large;
}