<ion-header>
  <ion-toolbar color="light_violet">

    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/bank" ></ion-back-button>
    </ion-buttons>

    <ion-title>Reintegro de operaciones</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>

  <div *ngIf="cargando else operaciones" class="contenedor-spinner">
    <ion-spinner color="light_violet" ></ion-spinner>
  </div>

  <ng-template #operaciones>



    
    <ion-list class="background-color-light-grey" *ngIf="hayBloqueadas else mensaje" >

      <app-bloqueada-card (reintegrar)="onReintegro($event)" *ngFor="let bloqueada of bloqueadas" [transaccion]="bloqueada"></app-bloqueada-card>


    </ion-list>






    <ng-template #mensaje>
      <h5 class="void-message">No tiene ninguna operacion bloqueada</h5>
    </ng-template>


  </ng-template>


  



</ion-content>
