<ion-card  >
  <ion-card-header>
  
    
    <ion-card-subtitle> Dest:  <ion-label class="bold">J-{{transaccion.cuenta}}</ion-label> <ion-label class="full-right position-absolute" > {{transaccion.fecha | date: "dd/MM/yyyy"}} </ion-label>  </ion-card-subtitle>
    
    
    <ion-card-title> 
      <ion-label class="bold">Monto: </ion-label>  <ion-label class="bold"> {{transaccion.cantidad | numeroPunteado}} </ion-label>
    </ion-card-title>


  </ion-card-header>

  <ion-card-content>
    
    <p class="margin-top-5p inline"> <ion-label class="bold">Descripcion:</ion-label>  </p>
    <div class="text-overflow">{{transaccion.descripcion}}</div>

    <ion-button fill="outline" class="card-button" color="light_violet" (click)="reintegro()" >Reintegrar</ion-button>

  </ion-card-content>
</ion-card>
