$violeta : #5b2333;
$light_violeta : #b34763;

$verde-success:#7dfc7d;
$verde-success-light: #c1fcc1;


$rojo-danger: #de1f21;
$rojo-danger-light: #d47273;


$amarillo-warning: #fcd421;
$amarillo-warning-light: #ffec97;


$verde-dinero: #5bb45b;
$rojo-dinero: #dd4646;