<ion-header>
  <ion-toolbar color="light_violet">
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf='usuario'>

  <form (ngSubmit)="guardar()">

    <ion-avatar class="margin-auto" id="img-user">
      <img [src]='usuario.imagen'  alt="">
    </ion-avatar>

    <ion-label class="block margin-top-10"><a>Cambiar imagen</a></ion-label>

    <ion-list lines="full">


      <ion-item class="margin-top-5">
        <ion-label position="floating">nombre</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" name="nombre" ></ion-input>
      </ion-item>


      <ion-item class="margin-top-5">
        <ion-label position="floating">apellido</ion-label>
        <ion-input [(ngModel)]="usuario.apellido" name="apellido" ></ion-input>
      </ion-item>


      <ion-item class="margin-top-5">
        <ion-label position="floating">correo</ion-label>
        <ion-input [(ngModel)]="usuario.correo" name="correo"></ion-input>
      </ion-item>


    </ion-list>


    <ion-button type="submit" color="light_violet" expand="block" fill="outline" id="button-guardar" class="margin-top-40">Guardar</ion-button>

  </form>


</ion-content>
